<nav class="header__inline-menu clenear-institutional-menu" aria-label="Menu institucional">
  <ul class="list-menu list-menu--inline" role="list">
    <li>
      <a href="{{ routes.root_url }}" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/pages/nossas-linhas" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Nossas Linhas</span>
      </a>
    </li>
    <li>
      <a href="/pages/sobre" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Sobre</span>
      </a>
    </li>
    <li>
      <a href="/pages/pesquisa-e-qualidade" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Pesquisa & Inovação</span>
      </a>
    </li>
    <li>
      <a href="/pages/revenda" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Revenda</span>
      </a>
    </li>
    <li>
      <a href="/pages/contact" class="header__menu-item list-menu__item link link--text focus-inset">
        <span>Contato</span>
      </a>
    </li>
  </ul>
</nav>
